<h1>Ejercicio 44</h1>
<h2>Pagina Principal</h2>
<ul>
  <li>
    <input type="button" value="Especialidades" class="btn" (click)="foco = !foco">
    <div class="options" *ngIf="foco">
      <ul>
        <li>
          <a routerLink="especialidades/frontend" (click)="foco = !foco">Desarrollador FrontEnd</a>
        </li>
        <li>
          <a routerLink="especialidades/backend" (click)="foco = !foco">Desarrollador BackEnd</a>
        </li>
        <li>
          <a routerLink="especialidades/fullstack" (click)="foco = !foco">Desarrollador FullStack</a>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <input type="button" value="Carreras" class="btn" (click)="foco2 = !foco2">
    <div class="options" *ngIf="foco2">
      <ul>
        <li>
          <a routerLink="carreras/medicina" (click)="foco2 = !foco2">Medicina</a>
        </li>
        <li>
          <a routerLink="carreras/sistemas" (click)="foco2 = !foco2">Sistemas</a>
        </li>
        <li>
          <a routerLink="carreras/arquitectura" (click)="foco2 = !foco2">Arquitectura</a>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <input type="button" value="Marcas de Laptop" class="btn" (click)="foco3 = !foco3">
    <div class="options" *ngIf="foco3">
      <ul>
        <li>
          <a routerLink="marcaslaptop/lenovo" (click)="foco3 = !foco3">Lenovo</a>
        </li>
        <li>
          <a routerLink="marcaslaptop/dell" (click)="foco3 = !foco3">Dell</a>
        </li>
        <li>
          <a routerLink="marcaslaptop/asus" (click)="foco3 = !foco3">Asus</a>
        </li>
      </ul>
    </div>
  </li>
  <li>
    <input type="button" value="Marcas de Gaseosa" class="btn" (click)="foco4 = !foco4">
    <div class="options" *ngIf="foco4">
      <ul>
        <li>
          <a routerLink="marcasgaseosa/cocacola" (click)="foco4 = !foco4">Coca Cola</a>
        </li>
        <li>
          <a routerLink="marcasgaseosa/fanta" (click)="foco4 = !foco4">Fanta</a>
        </li>
        <li>
          <a routerLink="marcasgaseosa/sprite" (click)="foco4 = !foco4">Sprite</a>
        </li>
      </ul>
    </div>
  </li>
</ul>

<div class="container">
  <router-outlet></router-outlet>
</div>

