.btn {
    border: none;
    background-color: transparent;
    color: rgb(255, 0, 247);
    font-size: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}

.options {
    margin-bottom: 12px;
}

.options li a {
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(229, 252, 27);
}

.container {
    width: 100%;
    height: 700px;
    background-color: rgb(65, 244, 11);
}